@charset 'UTF-8';
@media screen and (max-width: 828px){

    .card{
        width: 250px;
        height: 300px;
        margin: auto;
    }
    #divContadorFrente, #divContadorTras{
        background-color: aquamarine;
    }
    .textoAcidente {
        font-size: 10px;
    }
    button {
        color: black;
        width: 75px;
        height: 50px;
    }
    p {
        font-size: 100px;
    }

    li {
        font-size: 10px;
    }
}