@charset 'UTF-8';
@media screen and (max-width: 450px){

    .card{
        width: 370px;
        height: 500px;
        margin: auto;
    }
    .textoAcidente {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #tfBaixo{
        padding-top: 40px;
        line-height: 20px;
    }
    .aData {
        margin-top: -40px;
        font-size: 15px;
    }
    button {
        color: black;
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    #contador {
        font-size: 200px;
        padding-top: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #botoes {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;
    }
    #botoes button {
        flex: 1 1 30%
    }
    #addDia {
        order: 2;
    }
    #rmvDia {
        order: 2;
    }
    #viraCartao {
        order: 3;
    }
    p {
        padding-top: 20px;
    }

    h2 {
        font-size: 10px;
    }
}