@charset 'UTF-8';
@media screen and (max-width: 760px){

    .card{
        width: 540px;
        height: 550px;
        margin: auto;
        margin-bottom: 15px;
    }
    .textoAcidente {
        font-size: 25px;
    }
    p {
        font-size: 150px;
    }

    li {
        font-size: 20px;
    }
}